name: Pre-commit checks CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6

    - name: Run pre-commit hooks
      uses: pre-commit/action@v3.0.1
      with:
        extra_args: --all-files --show-diff-on-failure
