name: "Verify generated files"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  verify-generation:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.23'

    - name: Install operator-sdk
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        source: github
        operator-sdk: 1.38.0

    - name: Verify generated files are up to date and fail if anything changed
      run: |
        make generate
        make manifests
        git diff --exit-code
